<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/components/header :: headerWithScripts(~{::title}, ~{:: .head-script })}">
    <title th:text="#{blog.post.create}"></title>
    <script class="head-script" src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
<div class="min-h-screen h-screen flex">
    <form action="" method="post" class="md:float-left w-full md:w-1/2 flex-1 flex flex-col h-full">
        <div class="p-6">
            <div class="flex-auto h-90 flex flex-col">
                <textarea name="title" class="flex-none text-2xl overflow-hidden resize-y" placeholder="제목을 입력하세요"></textarea>
                <textarea name="content" id="content" class="grow overflow-hidden resize-y" placeholder="내용을 입력하세요..."></textarea>
            </div>


            <div class="flex-none fixed bottom-0 flex justify-end p-3">
                <button class="rounded-full bg-sky-500 text-white px-3 py-1"
                        type="submit"
                        th:text="#{blog.post.submit}">
                    글 발행
                </button>
                <button class="rounded-full bg-sky-500 text-white px-3 py-1"
                        onclick="location.href=document.referrer"
                        type="button"
                        th:text="#{blog.post.cancel}"
                >
                    글 발행 취소
                </button>
            </div>
        </div>
    </form>


    <div id="markdown-viewer" class="hidden md:block flex-1 bg-gray-100 h-full w-full">
        <!-- 마크 다운 뷰어가 들어가야 한다. -->
    </div>

</div>

<script>
    const $content = document.getElementById('content');
    const $viewer = document.getElementById('markdown-viewer');
    $content.addEventListener('keyup', (e) => {
        $viewer.innerHTML =
            marked.parse($content.value);
    });
</script>
</body>
</html>