<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header(title)">
  <meta charset="UTF-8">
  <title th:replace="${title}"/>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.3/dist/full.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />


</head>

<head th:fragment="headerWithScripts(title, scripts)">
  <title th:replace="~{/layout/components/header :: header(${title})}"></title>
  <script th:replace="${scripts}"></script>
</head>
